<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbmysql.mapper.PayQrcodeMapper">
  <resultMap id="BaseResultMap" type="com.dbmysql.entity.PayQrcode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="qrcode_url" jdbcType="VARCHAR" property="qrcodeUrl" />
    <result column="code_type" jdbcType="INTEGER" property="codeType" />
    <result column="money_key" jdbcType="VARCHAR" property="moneyKey" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="oktime" jdbcType="BIGINT" property="oktime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, account, money, qrcode_url, code_type, money_key, `status`, oktime, user_id
  </sql>
  <select id="selectByExample" parameterType="com.dbmysql.entity.PayQrcodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pay_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart>= 0">
       limit ${limitStart} , ${limitLength}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_qrcode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pay_qrcode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dbmysql.entity.PayQrcodeExample">
    delete from pay_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dbmysql.entity.PayQrcode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_qrcode (account, money, qrcode_url, 
      code_type, money_key, `status`, 
      oktime, user_id)
    values (#{account,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{qrcodeUrl,jdbcType=VARCHAR}, 
      #{codeType,jdbcType=INTEGER}, #{moneyKey,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{oktime,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dbmysql.entity.PayQrcode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_qrcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="account != null">
        account,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="qrcodeUrl != null">
        qrcode_url,
      </if>
      <if test="codeType != null">
        code_type,
      </if>
      <if test="moneyKey != null">
        money_key,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="oktime != null">
        oktime,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null">
        #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null">
        #{codeType,jdbcType=INTEGER},
      </if>
      <if test="moneyKey != null">
        #{moneyKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="oktime != null">
        #{oktime,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dbmysql.entity.PayQrcodeExample" resultType="java.lang.Long">
    select count(*) from pay_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pay_qrcode
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.account != null">
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=VARCHAR},
      </if>
      <if test="record.qrcodeUrl != null">
        qrcode_url = #{record.qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.codeType != null">
        code_type = #{record.codeType,jdbcType=INTEGER},
      </if>
      <if test="record.moneyKey != null">
        money_key = #{record.moneyKey,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.oktime != null">
        oktime = #{record.oktime,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pay_qrcode
    set id = #{record.id,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=VARCHAR},
      qrcode_url = #{record.qrcodeUrl,jdbcType=VARCHAR},
      code_type = #{record.codeType,jdbcType=INTEGER},
      money_key = #{record.moneyKey,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=INTEGER},
      oktime = #{record.oktime,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbmysql.entity.PayQrcode">
    update pay_qrcode
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null">
        qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null">
        code_type = #{codeType,jdbcType=INTEGER},
      </if>
      <if test="moneyKey != null">
        money_key = #{moneyKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="oktime != null">
        oktime = #{oktime,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbmysql.entity.PayQrcode">
    update pay_qrcode
    set account = #{account,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      code_type = #{codeType,jdbcType=INTEGER},
      money_key = #{moneyKey,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      oktime = #{oktime,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>